<!-- <h2 mat-dialog-title>Cadastro de classificação</h2>
<mat-dialog-content>
  <form class="form" [formGroup]="form">
    <mat-form-field  appearance="standard" class="field" floatLabel="always">
      <mat-label>Descrição:</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial mat-flat-button color="primary" (click)="save()">Salvar</button>
</mat-dialog-actions> -->
