<p-table #dt [value]="expenseList" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="5" responsiveLayout="stack">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">Descrição<p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="name">Responsável<p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="name">Categoria<p-sortIcon field="name"></p-sortIcon></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-expense let-expanded="expanded">
        <tr>
            <td>
              <span class="p-column-title"><b>Descrição: </b></span>
              {{expense.description}}
              </td>
            <td>
              <span class="p-column-title"><b>Responsável: </b></span>
              {{expense.user.fullName}}</td>
            <td>
              <span class="p-column-title"><b>Categoria </b></span>
              {{expense.category.description}}</td>
            <td>
              <div class="flex align-items-center justify-content-center gap-2">
                  <button  pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-text mr-2"></button>
                  <button  pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-text mr-2"></button>
                  <button  pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-text mr-2"></button>
              </div>
            </td>
        </tr>
    </ng-template>

    </p-table>
