

table {
  width: 100%;
  box-shadow: none
}
.mat-column-editar {
  flex: none;
  width: 10%;
}
.mat-column-excluir{
  flex: none;
  width: 10%;
}
.mat-column-name{
  flex: none;
  width: 75%;
}

.m_card{

  margin: 10px;
  border-radius: 10px;
}