
.card-1{
  border-radius: 15px;
  margin: 30px;
  height: 100%;  
}
table {
  width: 100%;
  box-shadow: none
}
.mat-column-editar {
  flex: none;
  width: 10%;
}
.mat-column-excluir{
  flex: none;
  width: 10%;
}
.mat-column-name{
  flex: none;
  width: 75%;
}