.m_filter {
    width: 100%;
    background: none;
    padding: 0;    

    .m_campo_filter {
        width: 100%;
        font-size: 13px;
        margin-top: 6px;
        
        .m_campo_filter-full-width {
            width: 100%;            
        }
    }
}

.m_buttoes {   
    
   
    .button {
       
        box-shadow: none;
        margin: 5px;
               

    }
}
