


<p-toolbar [style]="{'background':'white'}">
  <div class="p-toolbar-group-start">
    <button pButton pRipple label="Cadastrar" icon="pi pi-plus" class="p-button-sm p-button-help" (click)="openDialog()"></button>
  </div>

  <div class="p-toolbar-group-end">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input
        type="text"
        pInputText
        class="p-inputtext-sm"
        placeholder="Buscar..."
      />
      <p-button icon="pi pi-search" styleClass="p-button-sm"></p-button>
    </span>
  </div>
</p-toolbar>
