


<p-toolbar [style]="{'background':'white'}">
  <div class="p-toolbar-group-start">
    <button pButton pRipple label="Cadastrar" icon="pi pi-plus" class="p-button-sm p-button-help" *ngIf="displayNew" (click)="openDialog()"></button>
  </div>

  <div class="p-toolbar-group-end">
    <div class="p-col-12">
      <div class="p-inputgroup">
          <input type="text" pInputText placeholder="Buscar..." [(ngModel)]="filter" class="p-inputtext-sm">
          <p-button icon="pi pi-search" styleClass="p-button-sm" (onClick)="applyFilter()"></p-button>
      </div>
    </div>
  </div>
</p-toolbar>
