
<div class="shadow bg-white rounded">
  <p-toolbar styleClass="mb-1 gap-2" [style]="{ background: 'white' }">
    <div class="p-toolbar-group-start">
        <p-button  [label]="displayButtonText"
        icon="pi pi-plus" class="mr-2" styleClass="p-button-help" (click)="openDialog()"></p-button>
    </div>
    <div class="p-toolbar-group-end">
      <p-button icon="pi pi-search" class="mr-2" (click)="openDialogSearch()"></p-button>
      <p-button icon="pi pi-list" class="mr-2" styleClass="p-button-secondary p-button-text"(click)="menu.toggle($event)"></p-button>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
    </div>
  </p-toolbar>
  </div>
