
.card-tab {
  border: none;
  border-radius: 10px
}

.c-details span {
  font-weight: 300;
  font-size: 13px
}

.icon-tab {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px
}


.text1 {
  font-size: 14px;
  font-weight: 600
}

.text2 {
  color: #a5aec0
}
