<mat-sidenav-container autosize>
  <mat-sidenav
    opened="true"
    mode="side"
    class="sidebar"
    [ngClass]="{ active: getvisibleMenu() }" >
    <div class="profile_content">
      <div class="profile">
        <img src="./assets/user.png" alt="" />
      </div>
      <div class="profile_detail">
        <div class="name">Carlos Duarte</div>
        <div class="job">Desenvolvedor fullstack</div>
      </div>
    </div>
    <hr />
    <div class="menu_container">
      <mat-nav-list class="menu" >
        <a  *ngFor="let menu of menuItems; let i = index"
          mat-list-item
          routerLink= {{menu.link}}
          [matTooltip]="getvisibleMenu() ? '' : menu.label"
          matTooltipClass="tooltip"
          matTooltipPosition="after"
        >
          <i class="material-icons"> {{menu.icon}} </i>
          <span class="links_name">{{menu.label}}</span>
        </a>
        
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
