mat-sidenav-container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  }
  mat-sidenav{
    width: 200px;
    background-color: #eee;
  }
  .tee{
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  }
