<mat-sidenav-container autosize>
  <mat-sidenav
    opened="true"
    mode="side"
    class="sidebar"
    [ngClass]="{ active: getvisibleMenu() }" >
    <div class="profile_content">
      <div class="profile">
        <img src="./assets/user.png" alt="" />
      </div>
      <div class="profile_detail">
        <div class="name">Carlos Duarte</div>
        <div class="job">Desenvolvedor fullstack</div>
      </div>
    </div>
    <hr />
    <div class="menu_container">
      <mat-nav-list class="menu">
        <a
          mat-list-item
          routerLink=""
          [matTooltip]="getvisibleMenu() ? '' : 'Dashboard'"
          matTooltipClass="tooltip"
          matTooltipPosition="after"
        >
          <i class="material-icons"> dashboard </i>
          <span class="links_name">Dashboard</span>
        </a>
        <a
          mat-list-item
          routerLink=""
          [matTooltip]="getvisibleMenu() ? '' : 'Classificação'"
          matTooltipClass="tooltip"
          matTooltipPosition="after"
        >
          <i class="material-icons"> notes </i>
          <span class="links_name">Classificação</span>
        </a>
        <a
          mat-list-item
          routerLink="/products"
          [matTooltip]="getvisibleMenu() ? ' ' : 'Despesas'"
          matTooltipClass="tooltip"
          matTooltipPosition="after"
        >
          <i class="material-icons"> monetization_on </i>
          <span class="links_name">Despesas</span>
        </a>
        <a
          mat-list-item
          routerLink="/products"
          [matTooltip]="getvisibleMenu() ? ' ' : 'Plano'"
          matTooltipClass="tooltip"
          matTooltipPosition="after"
        >
          <i class="material-icons"> money </i>
          <span class="links_name">Plano</span>
        </a>
        <a
          mat-list-item
          routerLink="/products"
          [matTooltip]="getvisibleMenu() ? ' ' : 'Plano'"
          matTooltipClass="tooltip"
          matTooltipPosition="after"
        >
          <i class="material-icons"> print </i>
          <span class="links_name">Relatórios</span>
        </a>
        <a
          mat-list-item
          routerLink="/products"
          [matTooltip]="getvisibleMenu() ? ' ' : 'Usuários'"
          matTooltipClass="tooltip"
          matTooltipPosition="after"
        >
          <i class="material-icons"> people </i>
          <span class="links_name">Usuários</span>
        </a>
        <a
          mat-list-item
          routerLink="/users/profile"
          [matTooltip]="getvisibleMenu() ? ' ' : 'Perfil'"
          matTooltipClass="tooltip"
          matTooltipPosition="after"
        >
          <i class="material-icons"> list </i>
          <span class="links_name">Perfil</span>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
