mat-sidenav-container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  }
  mat-sidenav{
    width: 200px;
    background-color: #eee;
  }
  .my_layout_Content{
  padding-top: 30px;
  padding-right: 10px;
  padding-left: 10px;
  }
