

@import "./nav";
@import "./sidebar";
@import "./footer";
@import "./breadcrumb";
@import "./variables.scss";
@import "./modal";



*{
  margin: 0;
  padding: 0;
}

.mymodal-dialog-lg{
  max-width: 1200px !important;
  width: 1200px;
}


body{
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.content{
  padding-left: 45px;
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 137px;
  overflow-x: hidden;
  z-index:2;

}
.content.active{
  left: 240px;
  margin-left: 240px;
}
@media screen and (max-width: 799px) {
  .content {
    padding-left: 0;
    margin-left: 10px;
    margin-right: 10px;

  }
}
