

@import "./nav";
@import "./sidebar";
@import "./footer";
@import "./breadcrumb";
@import "./variables.scss";
@import "./modal";



*{
  margin: 0;
  padding: 0;
}

.mymodal-dialog-lg{
  max-width: 1200px !important;
  width: 1200px;
}


body{
    position: relative;
    min-height: 100vh;
    width: 100%;
}

// body .bs-datepicker-container .bs-datepicker-head{
//   background-color: #fff;
// }
// body .bs-datepicker-container .bs-datepicker-head * {
//   color: #000;
// }
.bs-datepicker-head,
.bs-datepicker-head, .bs-datepicker button:active,
.bs-datepicker-body table td span.selected,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover
{
background-color: var(--default-color)  !important;
}

:host ::ng-deep {
  .p-datatable .p-datatable-thead>tr>th {
    background-color: white;
  }
}


.content{
  padding-left: 45px;
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 137px;
  overflow-x: hidden;
  z-index:2;

}
.content.active{
  left: 240px;
  margin-left: 240px;
}
@media screen and (max-width: 799px) {
  .content {
    padding-left: 0;
    margin-left: 10px;
    margin-right: 10px;

  }
}
