:root {
    // --nav-bg-color: #926dde !important;
    --default-color: #926dde !important;
    --nav-color:rgb(94, 91, 91);
    --sidebar-bg-color:white;
    --sidebar--color: rgb(94, 91, 91);
    --sidebar--menu--hover--color:white;

  }
