<mat-toolbar color="primary" class="nav">
  <mat-toolbar-row>
<div class="logo">
  MyEconomy
 </div>
<button mat-button (click)="alterVisibleMenu()">
  <mat-icon>menu</mat-icon>
</button>
<span class="example-spacer"></span>
<button mat-icon-button color="white" aria-label="Example icon button with a menu icon"[matMenuTriggerFor]="menu" >
  <mat-icon>person</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Configurações</button>
  <button mat-menu-item>Sair</button>
</mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
